*{
margin:0;
padding:0;
  }
html {
  width: 100%;
    height: 100%;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
background-position:40% 40%;
}
/*body{
  display:inline-block;
  position:relative;
  background-image:linear-gradient(200deg, rgb(138,43,226),rgb(63,224,208));
  background-repeat: no-repeat;
  height:900px;
}*/
#myform {
margin-left:50%;
margin-top: 100px;
  padding:80px;
  background-color:white;
  width:250px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  justify-content: center;
}
input[type="email"], input[type="password"] {
 border: 1px solid white;
 background-color: transparent;
 border-bottom: 1px solid rgb(75,83,32);
font-family:'Roboto', sans-serif;
 padding:10px;
 width: 250px;
letter-spacing: 1px;
}
span {
display: inline-block;
font-size:25px;
  font-family:'Roboto', sans-serif;
  color:rgb(75,83,32);
  font-weight: lighter;
margin-top:10px;
}
.reg {
  display:inline-block;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  font-family:'Roboto', sans-serif;
  color:rgb(75,83,32);
  font-weight: lighter;
margin-left: 10px;
margin-top: 20px;
}
.forg{
  display:inline-block;
  position: relative;
  text-decoration: none;
  left:55%;
  margin-top:20px;
  font-family:'Roboto', sans-serif;
  font-size: 14px;
  color:black;
}

.forg:hover {
	color: rgb(165,115,213);
}
.btn {
   padding:7px;
  width:150px;
  background-color:rgb(75,83,32);
  border: 1px solid white;
  font-family:'Roboto', sans-serif;
  color:white;
  font-size: 15px;
  margin-left: 50px;
margin-top: 20px;
  border-radius: 5px;
outline: none;
  cursor: pointer;
}

.btn:hover {
	background-color: rgb(165,115,213);
}

@media only screen and (max-width: 600px){
	#myform {
		margin-left:auto;
		margin-right: auto;
		width: 250px;
		padding:40px;
		margin-top: 100px;
		/*margin-right: auto;*/
		/*margin-top: auto;
		margin-bottom: auto;*/
		/*text-align: center;*/
		/*left: 25%;*/
		/*bottom: auto;*/
	}
	input[type="email"], input[type="password"] {
 border: 1px solid white;
 background-color: transparent;
 border-bottom: 1px solid rgb(75,83,32);
 padding:5px;
 width: 250px;
}
span {
  font-size:20px;
  }
  .forg{
  font-size: 12px;
}

.btn {
	margin-left: 40px;
}
}
