*{*{
  margin:0;
  padding:0;
}
body{
  display:inline-block;
  position:relative;
  background-image:linear-gradient(200deg, rgb(138,43,226),rgb(63,224,208));
  background-repeat: no-repeat;
  height:900px;
}
#form1 {
  position: relative;
  display: block;
  padding:80px;
  margin:20px;
  background-color: floralwhite;
  width:250px;
  height:500px;
  justify-content: center;
  left:100%;
  top:10%;
  box-shadow: 0 10px 20px rgba(0,0,0,2);
}
.email {
  position:relative;
  display:inline-block;
  letter-spacing: 1px;
  padding:10px;
  bottom:20px;
  width:250px;
  font-family: monospace;
  border: 1px solid floralwhite;
  background-color: transparent;
  border-bottom: 2px solid rgb(63,224,208);
}
.password {
  position:relative;
  display:inline-block;
  letter-spacing: 1px;
  padding:10px;
  bottom: 20px;
  width:250px;
  font-family: monospace;
  border: 1px solid floralwhite;
  background-color: transparent;
  border-bottom: 2px solid rgb(63,224,208);
}
.conpassword{
  position:relative;
  display:inline-block;
  letter-spacing: 1px;
  padding:10px;
  bottom: 10px;
  width:250px;
  font-family: monospace;
  border: 1px solid floralwhite;
  background-color: transparent;
  border-bottom: 2px solid rgb(63,224,208);
}
.firstname{
  position:relative;
  display:inline-block;
  letter-spacing: 1px;
  padding:10px;
  bottom: 20px;
  width:250px;
  font-family: monospace;
  border: 1px solid floralwhite;
  background-color: transparent;
  border-bottom: 2px solid rgb(63,224,208);
}
.surname {
  position:relative;
  display:inline-block;
  letter-spacing: 1px;
  padding:10px;
  bottom: 20px;
  width:250px;
  font-family: monospace;
  border: 1px solid floralwhite;
  background-color: transparent;
  border-bottom: 2px solid rgb(63,224,208);
}
span {
  position:relative;
  display:block;
  font-size:25px;
  bottom:10px;
  font-family:monospace;
  color:rgb(63,224,208);
  font-weight: bold;
}
.btn {
  display: inline-block;
  position: relative;
  padding:7px;
  width:150px;
  background-image:linear-gradient(200deg,rgb(63,224,208),rgb(138,43,226));
  border: 1px solid floralwhite;
  font-family: monospace;
  color:white;
  font-size: 20px;
  left:20%;
  outline: none;
  cursor: pointer;
}
p {
  display:inline-block;
  position: relative;
  font-size: 15px;
  font-family:monospace;
  top:20px;
}
.reg {
  display:inline-block;
  position: relative;
  text-decoration: none;
  font-size: 15px;
  font-family:monospace;
  color:rgb(63,224,208);
  font-weight: bold;
  top:20px;
}
  position:relative;
  display:inline-block;
  letter-spacing: 1px;
  padding:10px;
  bottom: 10px;
  width:250px;
  font-family: monospace;
  border: 1px solid floralwhite;
  background-color: transparent;
  border-bottom: 2px solid rgb(63,224,208);
}
.firname{
  position:relative;
  display:inline-block;
  letter-spacing: 1px;
  padding:10px;
  bottom: 20px;
  width:250px;
  font-family: monospace;
  border: 1px solid floralwhite;
  background-color: transparent;
  border-bottom: 2px solid rgb(63,224,208);
}
.surname {
  position:relative;
  display:inline-block;
  letter-spacing: 1px;
  padding:10px;
  bottom: 20px;
  width:250px;
  font-family: monospace;
  border: 1px solid floralwhite;
  background-color: transparent;
  border-bottom: 2px solid rgb(63,224,208);
}
span {
  position:relative;
  display:block;
  font-size:25px;
  bottom:10px;
  font-family:monospace;
  color:rgb(63,224,208);
  font-weight: bold;
}
.button {
  display: inline-block;
  position: relative;
  padding:7px;
  width:150px;
  background-image:linear-gradient(200deg,rgb(63,224,208),rgb(138,43,226));
  border: 1px solid floralwhite;
  font-family: monospace;
  color:white;
  font-size: 20px;
  left:20%;
  top:20px;
}
